<div class="topSearch">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span>Profiles</span>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <!-- <span>Third Line</span> -->
            <span class="example-spacer"></span>
            <mat-form-field class="container2pc searchUserList" >
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Search button">pesquisar</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
<div class="container2pc">
    <div class="mat-elevation-z8">
        
        <table mat-table [dataSource]="dataSource" matSort>
           
            <ng-container matColumnDef="photo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header><i class="material-icons">swap_horiz</i></th>
                <td mat-cell *matCellDef="let usersList"> 
                <img src="{{usersList.photo}}" alt="User Image">    
                </td>
            </ng-container>
            
            <ng-container matColumnDef="localid">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> local ID </th>
                <td mat-cell *matCellDef="let usersList">{{usersList.localid}}</td>
            </ng-container>

            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let usersList"> {{usersList.email}} </td>
            </ng-container>
            
            <ng-container matColumnDef="first_name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let usersList"> {{usersList.first_name}}</td>
            </ng-container>
          
            <ng-container matColumnDef="phone">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone Number </th>
                <td mat-cell *matCellDef="let usersList">+31  {{usersList.phone}} </td>
            </ng-container>
   
            <ng-container matColumnDef="address">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
                <td mat-cell *matCellDef="let usersList">{{usersList.address}} </td>
            </ng-container>

            <ng-container matColumnDef="modified">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Modified </th>
                <td mat-cell *matCellDef="let usersList"> {{usersList.modified | date: 'yyyy/M/d'}} </td>
            </ng-container>

            <ng-container matColumnDef="view">
                <th mat-header-cell>View</th>
                <td mat-cell><mat-icon aria-hidden="false" aria-label="View User Detail">chevron_right</mat-icon> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let usersList; columns: displayedColumns;" (click)="onRowClicked(row)" class="cliquedRowForDetails"></tr>
        </table>
        <mat-paginator           
            [pageIndex]="0"
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 25]" 
            showFirstLastButtons>
        </mat-paginator>
       
    </div>    
</div>