@import '~@angular/material/theming';
@include mat-core();

$custom-primary: mat-palette($mat-blue, 500);
$custom-accent: mat-palette($mat-gray, 50);
$custom-warn: mat-palette($mat-red, 500);

$custom-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
// $custom-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);
@include angular-material-theme($custom-theme);