<div class="topSearch">
  <mat-toolbar color="primary">
      <mat-toolbar-row>
          <span>Profiles</span>
      </mat-toolbar-row>
      <mat-toolbar-row>
          <!-- <span>Third Line</span> -->
          <span class="example-spacer"></span>
          <mat-form-field class="container2pc searchUserList text-dark">
            <input matInput (keyup)="applyFilter($event.target.value)">          
          </mat-form-field>
          <mat-icon class="example-icon" aria-hidden="false" aria-label="Search button">pesquisar</mat-icon>
      </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container2pc">
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator           
  [pageIndex]="0"
  [pageSize]="5"
  [pageSizeOptions]="[5, 10, 25]" 
  showFirstLastButtons>
</mat-paginator>
</div>
</div>
